/* searchForm.sass */

form
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 10px

  label
    font-size: 24px

  input[type="text"]
    +span-columns(6)

  .small
    font-size: 12px
    margin-top: 5px
